spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/grade?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
  cloud:
    discovery:
      enabled: false
  kafka:
    listener:
      auto-startup: false

server:
  address: ${SERVER_ADDRESS:127.0.0.1}
  port: ${SERVER_PORT:8083}

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false

grade:
  kafka:
    consumer-enabled: false
  outbox:
    enabled: false
    max-retry: 10
    backoff-initial: 5s
    backoff-max: 5m
